.aboutus-content{
    width: 100%;
    height: 240vh;
    background-image: url("/aboutus-back.png");
    background-size: cover;
    overflow-x: clip;
}
.aboutus-content .content{
    padding: 150px 50px 50px 50px;
}
.aboutus-content .content h1{
    font-size: 50px;
    font-weight: 400;
    font-family: 'Nova Cut', sans-serif;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}
.aboutus-content .content .slogan{
    width: 40%;
    height: 30vh;
    margin: auto;
    /* background-color: #000000; */
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 50px 100px;
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.aboutus-content .content .slogan h2{
    font-size: 35px;
    font-weight: 400;
    font-family: 'Nova Cut', sans-serif;
    text-align: center;
    color: #fff;
    margin-top: 30px;
}
.aboutus-content .content .slogan span{
    font-family: 'Nova Cut', sans-serif;
    font-size: 30px;
}
.work-content .work-sec{
    width: 80%;
    height: 50vh;
    margin: auto;
    backdrop-filter: blur(10px);
    margin-bottom: 50px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}
.work-content .work-sec:nth-child(even){
    flex-direction: row-reverse;
}
.work-sec .animation{
    width: 70%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}
.work-sec .text{
    width: 30%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.4); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work-sec .text h2{
    font-size: 35px;
    font-weight: 300;
    font-family: 'Nova Cut', sans-serif;
    text-align: center;
    color: #fff;
}
.animation{
    position: relative;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrow{
    position: absolute;
    right: 30px;
    height: 80%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}
.arrow:hover{
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    right: 40px;
    width: 50px;
}
.animation-img{
    width: 50%;
    height: 100%;
}
.animation-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.animation-text{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Nova Cut', sans-serif;
    text-align: center;
    padding: 20px;
}
