.sherpa {
    position: relative;
    width: 100%;
}
.register-tab-sherpa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.5);
    /* max-width: 600px; */
}
.update-tab-sherpa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.5);
    /* max-width: 600px; */
}
.register-tab-sherpa .close-btn,
.update-tab-sherpa .close-btn {
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    color: #444;
    padding: 5px 15px;
    /* max-height: 50px; */
}

.register-tab-sherpa .close-btn:hover,
.update-tab-sherpa .close-btn:hover {
  color: #000;
}
