.travelKit-content-inner {
    padding: 50px 80px 20px 80px;
    width: 100%;
    max-width: 100%;
}

.travelKit-content {
    width: 100%;
}

.travelKit-content-upper {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

.travelKit-content-upper-left {
    width: 70%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* height: 60vh; */
    min-height: 500px;
}

.travelKit-content-upper-right {
    width: 30%;
    height: 60vh;
}

.travelKit-content-upper-right .favSection {
    width: 100% !important;
}

.travelKit-content-upper-left-top {
    margin-bottom: 70px;
}
.travelKit-content-upper-left-top h2 {
    border-bottom: 1px solid #000000;
    width: fit-content;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.travelKit-content-upper-left-top span {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #747373;
}

.travelKit-content-upper-left-top input {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    width: 80%;
}

.travelKit-content-upper-left-bottom {
    position: relative;
    border-radius: 20px;
    border-left: 1px solid #000000;
    min-height: 350px;
    padding: 20px;
    width: 100%;
}

.travelKit-content-upper-left-bottom h2 {
    font-size: 20px;
}

.default-search-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.default-search-item h3 {
    color: #747373;
}

.travelKit-content-middle {
    position: relative;
    margin-bottom: 50px;
    padding: 20px;
    border-left: 1px solid #000000;
    border-radius: 20px;
    min-height: 450px;
}

.travelKit-content-middle .default-search-item img {
    width: 20vw;
}

.travelKit-content-middle .dropdown-wrapper input {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    width: 20%;
    background-color: #e9e6e6;
}

.travelKit-content-middle .dropdown {
    width: 20%;
}

.travelKit-content-middle h2 {
    font-size: 20px;
    margin-bottom: 10px;

}

.travelKit-content-lower {
    border-radius: 20px;
    border: 1px solid #000000;
    padding: 20px;
    width: 100%;

}

.saved-items li {
    background-color: #cdcbcb;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    /* margin-bottom: 5px; */
}

.saved-items li:nth-child(even) {
    background-color: #a1a0a0;
}

.travelKit-content-lower h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.travelKit-content .selective-content {
    min-height: 100vh !important;
}

.travelKit-content-middle:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.dropdown-wrapper {
    position: relative;
    width: 100%;
}
.dropdown-wrapper input{
    width: 100%;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 20vw;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 6px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    padding: 0;
    margin: 5px 0 0 0;
    list-style: none;
    border-radius: 15px;
}

.travelKit-content-middle .suggested-items {
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: flex-start;
}

.suggested-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
    max-height: 1000px;
    overflow: hidden;
    padding: 20px;
    justify-items: center;
    /* ⬅️ centers items horizontally */
    align-items: center;
    /* ⬅️ centers items vertically */
}

.default-extra-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-height: 1000px;
    overflow: hidden;
    padding: 20px;
    justify-items: center;
    /* ⬅️ centers items horizontally */
    align-items: center;
    /* ⬅️ centers items vertically */
}



.dropdown-item {
    padding: 10px 14px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f2f2f2;
}

.travel-saved-action {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.save-kit-btn {
    color: rgb(0, 0, 0);
}
.location-search {
    display:flex;
    gap: 30px;
}

.content1-travelkit{
    width: 25%;
}
.kit-actions{
    padding: 5px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 15px;
    /* border-radius: 10px; */
}

/* From Uiverse.io by cssbuttons-io */ 
.learn-more {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 background: transparent;
 padding: 0;
 font-size: inherit;
 font-family: inherit;
}

.learn-more {
 width: 10rem;
 height: auto;
}

.learn-more .circle {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: relative;
 display: block;
 margin: 0;
 width: 2.3rem;
 height: 2.3rem;
 background: #49c744;
 border-radius: 1.625rem;
}

.learn-more .circle .icon {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
 background: #fff;
}

.learn-more .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.125rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

.learn-more .circle .icon.arrow::before {
 position: absolute;
 content: "";
 top: -0.29rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid #fff;
 border-right: 0.125rem solid #fff;
 transform: rotate(45deg);
}

.learn-more .button-text {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 0.4rem 0;
 margin: 0 0 0 1.85rem;
 color: #282936;
 font-weight: 700;
 line-height: 1.6;
 text-align: center;
 text-transform: uppercase;
}

.learn-more:hover .circle {
 width: 100%;
}

.learn-more:hover .circle .icon.arrow {
 background: #fff;
 transform: translate(-3rem, 0);
}

.learn-more:hover .button-text {
 color: #fff;
}
