@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: clip;
}


body{
  transition-property: opacity, filter;
  transition-timing-function: ease-in;
  transition-duration: 500ms;
}
.page-transition{
  opacity: 0;
  background: #9c8a8a;
  /* transform: translateY(1000px); */
  filter: blur(10px);
}

